:root {
  --transition: 1.5s cubic-bezier(0.2, 0.6, 0, 1);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;

  background-color: #000;
}

.logo {
  z-index: 10;
  position: absolute;
  top: 2%;
  left: 50%;
  transform: translateX(-50%);
  height: 100px;
  width: 250px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 1;
  transition: opacity 500ms ease-in-out;
}
.logo:hover {
  opacity: 1;
}
.slider {
  height: 80%;
  top: 20%;
}
@media screen and (min-width: 768px) {
  .slider {
    top: 0;
    height: 100%;
    width: 100%;
  }
  .logo {
    opacity: 0.6;
    left: 2%;
    transform: translateX(0%);
  }
  .button__play {
    top: 5%;
    right: 2%;
  }
}

.slider-layer {
  position: absolute;
  /* все одно що top:0 bottom: 0 left:0 right:0  height: 100% width: 100%*/
  inset: 0;
  background-size: cover;
  background-position: center;
  will-change: transform;
  /* transition: var(--transition) !important; */
}
.slider__item {
  overflow: hidden;
}

.slider__wrapper {
  transform-style: preserve-3d;
  will-change: transform;
  /* transition: var(--transition) !important; */
}

.button__play {
  position: absolute;
  bottom: 2%;
  right: 2%;
  z-index: 12;
  fill: white;
  width: 50px;
  height: 50px;
  background-color: transparent;
  opacity: 0.6;
  border: none;
}
.button__play.play {
  opacity: 1;
  animation: magic 2s infinite alternate;
}
.button__play:hover {
  opacity: 1;
}

@keyframes magic {
  0% {
    opacity: 0.2;
  }

  100% {
    opacity: 0.6;
  }
}
